.fa-square-whatsapp{
    color: green;
}

.inicio{
    background-color: rgb(70, 123, 17);
    border-radius: 15px;
}


.me-2 {
    margin-right: 1rem!important;
}

body{
    font-family: monospace;
}